<div class="box">
    <div #skills class="skills">
        <div class="container">
            <h1 class="sub-title">Skills</h1>
            <div class="slider-container">
                <button (click)="previous()" class="arrow left-arrow">&#10094;</button>
                <div class="slider-card">
                  <img [src]="images[currentIndex].src" alt="Image" />
                  <h3>{{ images[currentIndex].title }}</h3>
                  <p class="description">{{ images[currentIndex].description }}</p>
                </div>
                <button (click)="next()" class="arrow right-arrow">&#10095;</button>
              </div>
        </div>
    </div>
</div>