<div class="box" appResponsiveDirective>
    <div class="header-container">
        <div class="header-text">
            <p>Frontend Developer</p>
            <h1>Hi, I'm <span>Neha</span><br>Pandey from Lucknow</h1>
        </div>
        <div class="row">
            <span class="intro"></span>
        <img src="img1.png" class="headerImg" alt="img">
        </div>
    </div>
    <hr>
    <app-about appResponsiveDirective></app-about>
    <hr>
    <app-education appResponsiveDirective></app-education>
    <hr>
    <app-skills appResponsiveDirective></app-skills>
    <hr>
    <app-experience appResponsiveDirective></app-experience>
    <hr>
    <app-contact appResponsiveDirective></app-contact>
</div>