<div class="box">

    <div id="about">
        <div class="container">
            <div class="row">
                <div id="second-section" class="about-col-1">
                    <img id="scrollImage" src="me.jpg" class="aboutImg" alt="img">
                </div>
                <div id="second-section-about" class="about-col-2">
                    <h1 id="scrollAbout" class="aboutMe">About Me</h1>
                    <p id="scrollAboutDesc" class="aboutMeDesc">
                        I am a dedicated Angular developer with 2.5 years of experience in building responsive and
                        dynamic web applications. Proficient in Angular, JavaScript, TypeScript, HTML5, and CSS3, with
                        hands-on experience in creating user-friendly interfaces using Angular Material.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>