<div class="box">
    <!-- Education section -->
    <div id="education" class="education">
        <div class="container">
            <h1 class="sub-title">Education</h1>
            <div class="eduList">
                <div>
                    <i class="fa-solid fa-school"></i>
                    <h3>Master of Business Administration</h3>
                    <h2>University Of Lucknow</h2>
                    <p>2017</p>
                    <span class="learn">See Change</span>
                </div>
              <div>
                    <i class="fa-solid fa-school"></i>
                    <h3>Bachelor Of Computer Applications</h3>
                    <h2>University Of Lucknow</h2>
                    <p>2015</p>
                    <span class="learn">See Change</span>
                </div>
            </div>
        </div>
    </div>
</div>
