<div class="box" appResponsiveDirective>
    <div class="navbar">
        <mat-toolbar color="primary" class="toolbar">
            <mat-toolbar-row>
                <span class="logo" (click)="home()"><img src="img2.png" class="img" alt="img">My Portfolio</span>
                <span class="spacer"></span>
                <div class="menu-toggle">
                    <button mat-icon-button (click)="snav.toggle();">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>

                <div class="sectionLinks">
                    <a (click)="home()">Home</a>
                    <a (click)="about()">About</a>
                    <a (click)="education()">Education</a>
                    <a (click)="skills()">Skills</a>
                    <a (click)="workExp()">Experience</a>
                    <a (click)="contact()">Contact</a>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-sidenav-container class="sidenav-container">
            <mat-sidenav #snav mode="side">
                <mat-nav-list>
                    <a (click)="home()"><i class="fa-solid fa-house"></i>Home</a>
                    <a (click)="about()"><i class="fa-solid fa-address-card"></i>About</a>
                    <a (click)="education()"><i class="fa-solid fa-school"></i>Education</a>
                    <a (click)="skills()"><i class="fa-solid fa-toolbox"></i>Skills</a>
                    <a (click)="workExp()"><i class="fa-solid fa-briefcase"></i>Experience</a>
                    <a (click)="contact()"><i class="fa-solid fa-address-book"></i>Contact</a>
                </mat-nav-list>
            </mat-sidenav>

            <mat-sidenav-content>
                <div [@routeTransition]="route.snapshot.data" style="display: contents;">
                    <router-outlet appResponsiveDirective></router-outlet>
                </div>
                <app-footer appResponsiveDirective></app-footer>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>